version: 2.1
orbs:
  anchore: anchore/anchore-engine@1.3.0
jobs:
  "fdk":
    docker:
      - image: circleci/golang:1.12.4
    working_directory: ~/fdk-go
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: docker version
      - run: docker pull fnproject/fnserver
      - run:
          command: go test -v ./...
      - run:
          command: |
            curl -LSs https://raw.githubusercontent.com/fnproject/cli/master/install | sh
      - deploy:
          command: |
            if [[ "${CIRCLE_BRANCH}" == "master" && -z "${CIRCLE_PR_REPONAME}" ]]; then
              func_version=$(awk '/^version:/ { print $2; }' func.yaml)
              printenv DOCKER_PASS | docker login -u ${DOCKER_USER} --password-stdin
              git config --global user.email "ci@fnproject.com"
              git config --global user.name "CI"
              git branch --set-upstream-to=origin/${CIRCLE_BRANCH} ${CIRCLE_BRANCH}
            fi

  "go1.12.4_security_check":
    executor: anchore/anchore_engine
    working_directory: ~/fdk-go
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - run:
          name: Golang 1.12.4 Stretch build
          command: |
            apk add bash
            ./build-images.sh 1.12.4 stretch
      - anchore/analyze_local_image:
          image_name: "fnproject/golang:1.12.4-stretch fnproject/golang:1.12.4-stretch-dev"
          timeout: '500'
          policy_failure: true
          policy_bundle_file_path: .circleci/.anchore/policy_bundle.json
      - anchore/parse_reports

workflows:
  version: 2
  build:
    jobs:
      - "fdk"
      - "go1.12.4_security_check"
